* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* total */
body {
  background-color: #1a1818;
  color: #e0e0e0;
  line-height: 1.6;
  font-size: 1em;
  scroll-behavior: smooth;
  padding-top: 3.5em;
}

/* navbar */
.navbar {
  background: #1f1f1f;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand,
.navbar-nav .nav-link {
  color: #e0e0e0;
}
.navbar-nav .nav-link {
  font-size: 1.125em;
}
.navbar-nav .nav-link:hover {
  color: #bb86fc;
}

/* intro part */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 1.25em;
  max-width: 1000px;
}
.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.intro-text h1 {
  font-size: 2.5em;
  margin-bottom: 1.875em;
}
.arabic-intro {
  margin-top: -4rem;
}
.arabic-names {
  margin-top: -1rem;
}
.intro-image img {
  border-radius: 1.875em;
  box-shadow: 0 0.75em 0.9375em rgba(172, 89, 89, 0.5);
}
